<div>
    <card data-accent-color="tempo-bg-color--red" data-icon-src="
        {{#if message.icon}}
            {{message.icon}}
        {{else}}
            https://symphony.com/wp-content/uploads/2019/08/favicon.png
        {{/if}}
    ">
        {{#if message.title}}
            <header>
                <b>{{message.title}}</b>
            </header>
        {{/if}}
        {{#if message.content}}
            <body>
            {{message.content}}
            </body>
        {{/if}}
    </card>
</div>
