*target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Certificates ###
*.p12
*.pem
*.crt
*.jks
*.keystore
*.der
*.pkcs8
*.cer

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.log
*log.txt
*.gz