<form id="{{form-id}}">
    <h3>Alert template</h3>
    <h6>Title</h6>
    <text-field name="title" required="false"></text-field>
    <h6>Content</h6>
    <text-field masked="false" name="content" required="false"></text-field>
    <button name="alert" type="action">Confirm</button>
    <button name="reset" type="reset">Reset</button>
</form>