<p style='margin-bottom:6px;'>Please, specify the name of a valid template.</p>
<p style='margin-bottom:6px;'>Bot template commands:</p>
<ul>
    {{#each descriptions as |description| }}
        <li><b>{{botMention}}</b> {{description}}</li>
    {{/each}}
</ul>