<form id="{{form-id}}">
    <h3>List template</h3>
    <h6>Title</h6>
    <text-field masked="false" name="title" required="false"></text-field>
    <h6>Content</h6>
    <textarea name="content"
              placeholder="Example: [ header1 | body1 ] [ header2 | body2 ] ...&#013;Example: body1, body2, ..."
              required="false"></textarea>
    <button name="list" type="action">Confirm</button>
    <button name="reset" type="reset">Reset</button>
</form>