<form id="{{form-id}}">
    <h3>Notification template</h3>
    <h6>Title</h6>
    <text-field masked="false" name="title" required="false"></text-field>
    <h6>Alert</h6>
    <radio name="alert" checked="true" value="true">Alert</radio>
    <radio name="alert" checked="false" value="false">Simple</radio>
    <h6>Content header</h6>
    <text-field masked="false" name="contentHeader" required="false"></text-field>
    <h6>Content body</h6>
    <text-field masked="false" name="contentBody" required="false"></text-field>
    <h6>Description</h6>
    <text-field masked="false" name="description" required="false"></text-field>
    <h6>Comment</h6>
    <text-field masked="false" name="comment" required="false"></text-field>
    <h6>Assignee</h6>
    <person-selector name="assignee" placeholder="Assign to.." required="false"/>
    <h6>Show status bar</h6>
    <radio name="showStatusBar" checked="true" value="false">Hide</radio>
    <radio name="showStatusBar" checked="false" value="true">Show</radio>
    <h6>Type</h6>
    <text-field masked="false" name="type" required="false"></text-field>
    <h6>Priority</h6>
    <text-field masked="false" name="priority" required="false"></text-field>
    <h6>Status</h6>
    <text-field masked="false" name="status" required="false"></text-field>
    <h6>Labels</h6>
    <textarea name="labels" placeholder="Example:&#013;&#013;label1, label2, label3, ..."
              required="false"></textarea>
    <button name="notification" type="action">Confirm</button>
    <button name="reset" type="reset">Reset</button>
</form>