<form id="{{form-id}}">
    <h3>Table template</h3>
    <textarea name="content"
              placeholder="Example:&#013;&#013;[ Header1 | Header2 | Header3 ]&#013;[ Cell1 | Cell2 | Cell3 ]&#013;[ Cell4 | Cell5 | Cell6 ]&#013;..."
              required="false"></textarea>
    <button name="table" type="action">Confirm</button>
    <button name="reset" type="reset">Reset</button>
</form>